*{
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
} 

html{
  scroll-behavior: smooth;
}

:root{
  --background-dark: #09090b; 
  --background-dark-hover: #141415;
  --font-dark: #fafafa;
  --font-dark-hover: #e2e2e2;
  --border-button: #27272a;
}

body{
  background-color: var(--background-dark);
  color: var(--font-dark);
}

/* From Uiverse.io by namecho */ 
.switch {
  position: fixed;
  top: 15px;
  left: 15px;
  --button-width: 3em;
  --button-height: 1.5em;
  --toggle-diameter: 1.2em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #27272a;
  cursor: pointer;
 }
 
 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
 }
 
 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 
 .switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
 }
 
 .switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .switch input[type="checkbox"] {
  display: none;
 }
 
 .switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
 }
 
 .switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }
 

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* background-color: aqua; */
}

.left{
  width: 35%;
  height: 60%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
  box-sizing: border-box;
  gap: 40px;
}

.nombre{
  animation: appearFromBottom 0.5s ease-out forwards;
}

.nombre p{
  font-size: 30px;
  animation: appearFromBottom 0.5s ease-out forwards;
}

.nombre span{
  font-size: 17px;
  animation: appearFromBottom 0.5s ease-out forwards;
}
.nombre h1{
  font-size: 70px;
  text-shadow: 2px 4px 29px rgba(255, 255, 255, 0.117);
  animation: appearFromBottom 0.5s ease-out forwards;
}

.descripcion p{
  animation: appearFromBottom 0.5s ease-out forwards;
}

.boton{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 20px;
  animation: appearFromBottom 0.5s ease-out forwards;
}

.boton .about{
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--font-dark);
  transition: 0.2s;
  font-size: 17px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.boton .about:hover{
  background-color: var(--font-dark-hover);
}

.boton .download{
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--background-dark);
  color: var(--font-dark);
  border: 0.1px solid var(--border-button);
  transition: 0.2s;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.boton .download:hover{
  background-color: var(--background-dark-hover);
}

.boton a{
  text-decoration: none;
}

.redes{
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 35px;
}
.redes i{
  cursor: pointer;
  animation: appearFromBottom 0.5s ease-out forwards;
}

.redes a{
  color: var(--font-dark);
}

#linke:hover{
  color: #0066c8;
}
#github:hover{
  color: #1c1f24;
}
#insta:hover{
  color: #9012f8;
}
#gmail:hover{
  color: #d65245;
}


.right{
  width: 35%;
  height: 60%;
  padding: 40px;
  /* background-color: green; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appearFromBottom 0.5s ease-out forwards;
}

.imagen i{
  color: var(--font-dark);
  font-size: 230px;
  width: 100%;
  height: 100%;
}

.imagen img{
  color: var(--font-dark);
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none; 
}

.skills{
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.logos{
  display: flex;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: var(--background-dark-hover);
  gap: 40px;
}

.logos img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.logos i{
  font-size: 70px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  
}


/***********************/

.introduccion{
  width: 100%;
  background-color: var(--background-dark-hover);
  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  box-sizing: border-box;
  gap: 20px;
}

.titulo{
  width: 100%;
  font-size: 23px;
  text-align: center;
}


.texto{
  width: 100%;
  height: 50vh;
  font-size: 20px;
  text-align: center;
  display: flex;
}

.tx-left{
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.lf-img{
  width: 100%;
  height: 100%;
}
.lf-img img{
  width: 80%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.tx-right{
  width: 50%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  text-align: start;
  align-items: center;
}




/***************************************/

.formacion{
  width: 100%;
  /* background-color: var(--background-dark-hover); */
  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  box-sizing: border-box;
  gap: 20px;
}

.fr-titulo{
  font-size: 23px;
  margin-bottom: 30px;
}

.fr-contendor{
  width: 100%;
  display: flex;
  justify-content: center; 
}

.card{
  width: 300px;
  height: 350px;
  background-color: #141415;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-imagen{
  width: 90%;
  height: 50%;
}

.card-imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-descripcion{
  display: flex;
  flex-direction: column;
  text-align: center;
}







